@import url('https://googleapis.com');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 0;
}
#number {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;

    font-family: DosisSemiBold, serif;
    font-size: 30px;
    white-space: nowrap;

    margin-bottom: 0.8rem;
}
#numberContainer {
    height: 0px;
    border-bottom: 1px solid #666;
    max-height: 4rem;
}
