@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 0;
}
#game {
  font-family: 'Open Sans', sans-serif;
}
#number {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  font-size: 30px;
  white-space: nowrap;
  margin-bottom: 8px;
}
#numberContainer {
  max-width: 100%;
  border-bottom: 1px solid #666;
  max-height: 4rem;
  margin-bottom: 8px;
}
#first-btn {
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  font-size: 16px;
  white-space: nowrap;
  border-width: 1px solid #666;
  height: 1.5rem;
}
